.a, .b, .d {
    font-size: 13px;
    text-align: center;
    font-family: arial, sans-serif;
    color: rgba(0, 0, 0, 0.87);
}

.c {
    height: 30px;
    width: 30px;
}

.d {
    text-decoration: none;
    background: #4285f4;
    border-radius: 3px;
    color: white;
    padding: 9px;
}

.cabeçalho {
    display: flex;
    align-items: inherit;
    position: absolute;
    right: 10px;
    margin: 10px;
}

.a1, .b1, .d1 {
    display: inline-block;
    padding: 7px;
}

.logo {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
}

.pesquisa {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    background-color: khaki;
}

.p {
    
}

.botoes {
    margin: 0 auto;
    width: 300px;
}

.rodape {
    background-color: #f2f2f2;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 20px;
}

.ladoEsquerdo {
    background-color: #f2f2f2;
    display: inline-block;
    position: absolute;
    left: 25px;
}

.ladoDireito {
    background-color: #f2f2f2;
    display: inline-block;
    position: absolute;
    right: 25px;
}

