header {
    grid-area: cabecalho;
}

main {
    grid-area: conteudo;
}

footer {
    grid-area: rodape;
}

body {
    font-family: arial,sans-serif;

    display: grid;
    margin: 0px;
    height: 100%;
    max-height: 100vh;
    min-width: 100vh;
    grid-template-rows: 1fr 575px 1fr;
    grid-template-areas: 'cabecalho' 'conteudo' 'rodape';
}

.cabeçalho {
    padding-top: 15px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pesquisa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px;
}

.p1:hover {
    box-shadow: 0 0 7px #c6c6c6;
}

.p1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 39px;
    width: 570px;
    border: 1px solid #c6c6c6;
    border-radius: 20px;
}

#p1 {
    display: flex;
    justify-content: center;
    border-color: transparent;
    height: 37px;
    width: 400px;
    margin-left: 30px;
    margin-right: 30px;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botao1, .botao2 {
    background-color: #f2f2f2;
    display: flex;
    font-family: arial,sans-serif;
    font-size: 14px;
    color: #5f6368;
    margin: 11px 6px;
    border-radius: 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    align-items: center;
}

.botao1:hover, .botao2:hover{
    border: 1px solid #c6c6c6;
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.87);
    
    
}

.lugar {
    font-size: 15px;
    color: rgba(0,0,0,.54);
    text-align: center;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    border: 1px solid #e8e8e8;
    padding-left: 30px;
}

.menuRodape {
    display: flex;
    height: 40px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    justify-content: space-between;
    align-items: center;
}

.rodape {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    height: 80px;

}
       
.a, 
.b, 
.d {
    font-size: 13px;
    text-align: center;
    font-family: arial, sans-serif;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}
        
.c {
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.d {
    background: #4285f4;
    border-radius: 3px;
    color: white;
    padding: 9px;
    font-weight: bold;
}

.a:hover, .b:hover{
opacity: .85;
text-decoration: underline;
}

.a1, 
.b1,
.c1, 
.d1 {
    display: inline-block;
    padding: 7px;
    
}

.l1,
.l2,
.l3,
.l4,
.l5,
.l6,
.l7 {
    font-size: 15px;
    color: rgba(0,0,0,.54);
    text-align: center;
    text-decoration: none;
    padding: 7px;
}

.l1 {
    padding-left: 30px;
}

.l7 {
    padding-right: 30px;
}

.l1:hover,
.l2:hover,
.l3:hover,
.l4:hover,
.l5:hover,
.l6:hover,
.l7:hover {
    text-decoration: underline;
}